@import '~base-scss/base';

.team-section{
    position: relative;
    background-color: #707070;
    overflow: hidden;

    .overlay-block{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        img{
            opacity: 0.5;
            width: 100%;
        }
    }
    .members {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
