@import '~base-scss/base';

.client-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 920px;

    .client {
        padding: 36px 24px;

        img {
            width: 180px;
            height: 120px;
            object-fit: contain;
            object-position: center center;
        }
    }
}

@media screen and (max-width: 720px) {
    .client-list {
        .client {
            padding: 8px 12px;

            img {
                width: 150px;
                height: 90px;
            }
        }
    }
}
