@import '~base-scss/base';

section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    z-index: 10;
    background-color: #ffffff;
    padding: 48px 0;

    &:nth-child(even) {
        background-color: #f5f5f5;
    }

    h2 {
        margin: 48px 0;
        padding-bottom: 24px;
        text-align: center;
        text-transform: initial;
        font-size: 48px;

        @media screen and (max-width: 720px) {
            margin: 12px 0;
            padding-bottom: 12px;
        }
    }

    @media screen and (max-width: 720px) {
        padding: 24px 0;
    }

    &.clients {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 60vh;

        .client-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 920px;

            .client {
                padding: 36px 24px;

                img {
                    width: 180px;
                    height: 120px;
                    object-fit: contain;
                    object-position: center center;
                }
            }
        }

        @media screen and (max-width: 720px) {
            .client-list {
                .client {
                    padding: 8px 12px;

                    img {
                        width: 150px;
                        height: 90px;
                    }
                }
            }
        }
    }
}
