@import '~base-scss/base';

.member {
    display: flex;
    flex-basis: 100vw;
    border-bottom: 1px solid $color-separator;
    padding: 12px;

    .image {
        border-radius: 50%;
        width: 96px;
        height: 96px;
        object-fit: cover;
        object-position: center center;
    }

    .description {
        padding: 8px 12px;

        .links {
            .link {
                padding-right: 6px;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .member {
        display: block;
        position: relative;
        flex-basis: auto;
        margin: 10px 8px;
        outline: none;
        border: 0;
        border-bottom: 0;
        border-radius: 0;
        cursor: pointer;
        padding: 0;
        height: 240px;
        overflow: hidden;

        .image {
            transition: 10s transform ease-in-out;
            border-radius: 0;
            width: 160px;
            height: 100%;
            object-fit: cover;
            object-position: center bottom;
        }

        .description {
            position: absolute;
            bottom: -40px;
            left: 0;
            transition: .2s bottom ease-in-out;
            background-color: rgba(231, 76, 60, .9);
            padding: 0 8px 4px 8px;
            width: 100%;
            height: 70px;
            color: #fff;

            .name {
                padding: $spacing-small 0;
                color: #fff;
                font-weight: $font-weight-bold;
            }

            .designation {
                transition: .2s .2s opacity ease-in-out;
                opacity: 0;
            }

            .links {
                transition: .2s .2s opacity ease-in-out;
                opacity: 0;
                padding: 2px 0;

                .link {
                    cursor: pointer;
                    padding-right: 12px;
                }
            }
        }

        &:hover {
            .image {
                transform: scale(1.1);
            }

            .description {
                bottom: 0;

                .name {
                    color: #ffffff;
                }

                .designation {
                    opacity: 1;
                }

                .links {
                    opacity: 1;
                }
            }
        }
    }
}

