@import '~base-scss/base';
.services-section {
    background: $color-background-alt;

    .container-block{
        justify-content: center;
        padding: $spacing-super-large-alt 0;
        min-height: 100vh;
    }

    .service-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: $font-size-extra-large;
    
        .service {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: $spacing-super-large-alt;
            padding: 0 $spacing-medium-alt;
            width: $width-login-form;
            text-align: center;                                                                                                                                                                                                                                
            
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            
            .services-inner{
                background-color: $color-background-overlay-dark;
                padding: $spacing-extra-large-alt;
                height: 100%;
                color: $color-text;
            
    
                img {
                    margin: $spacing-large-alt 0;
                    height: 128px;
                }
        
                h3 {
                    text-transform: capitalize;
                    color: $color-text;
                    font-weight: $font-weight-bold;
                }
        
                p {
                    line-height: 1.6;
                    color: $color-text;
                    font-size: 0.8em;
                    font-weight: $font-weight-light;
                }
            }
        }
    }
}

