@import 'colors';
@import 'dimens';
@import 'utils';

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-monospace: 'Oxygen Mono', monospace;
$font-family-handwritten: 'Pacifico', cursive;
$font-family-icons: 'Ionicons';

* {
    box-sizing: border-box;

    ::-webkit-scrollbar-track {
        background-color: $color-background-scrollbar;
    }

    ::-webkit-scrollbar {
        background-color: $color-background-scrollbar;
        width: $width-scrollbar;
        height: $width-scrollbar;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $color-foreground-scrollbar;
    }
}

:global {
    .modal-shown {
        #root {
            filter: brightness(50%);
            pointer-events: none;
            user-select: none;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-sans-serif;
    font-size: $font-size-default;
    font-weight: $font-weight-default;

    a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        text-transform: uppercase;
        font-weight: $font-weight-light;
    }
}

:global {
    .main-content {
        height: 100vh;
        overflow-x: hidden; /*Horizontal scroll */
        overflow-y: visible;
    }
}

%accent-color-link {
    text-transform: initial;
    color: $color-accent;

    &:hover {
        text-decoration: underline;
    }
}
.container-block {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: $width-container;

    h2 {
        display: block;
        text-transform: capitalize;
        color: $color-accent-light;
        font-weight: $font-weight-bold;

        @media screen and (max-width: 720px) {
            font-size: $font-size-super-large-alt;
        }
    }
}